Repository googleapis/nodejs-translate, pull requests merged in 2021-02, with the labels that each got.

#620 chore: update CODEOWNERS config
  .repo-metadata.json
Labels: api: translate, automerge, cla: yes

#621 build: adds UNORDERED_LIST enum
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  synth.metadata
Labels: api: translate, automerge, cla: yes, context: none

#619 chore: corrected batch tests
  samples/test/v3/translate_batch_translate_text.test.js
  samples/test/v3/translate_batch_translate_text_with_glossary_and_model.test.js
Labels: api: translate, cla: yes

#623 chore: removed duplicated & unused samples from repo, note: tests wer…
  samples/automl/automlTranslationDataset.js
  samples/automl/automlTranslationModel.js
  samples/automl/automlTranslationPredict.js
  samples/automl/resources/testInput.txt
  samples/test/automlTranslation.test.js
Labels: api: translate, cla: yes, samples
