Repository googleapis/nodejs-translate, pull requests merged in 2021-01, with the labels that each got.

#610 docs: update dates
  .jsdoc.js
  protos/protos.d.ts
  protos/protos.js
  src/v3/index.ts
  src/v3/translation_service_client.ts
  src/v3beta1/index.ts
  src/v3beta1/translation_service_client.ts
  synth.metadata
  system-test/fixtures/sample/src/index.js
  system-test/fixtures/sample/src/index.ts
  system-test/install.ts
  test/gapic_translation_service_v3.ts
  test/gapic_translation_service_v3beta1.ts
Labels: api: translate, automerge, cla: yes, context: none

#611 feat: adds style enumeration
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  synth.metadata
Labels: api: translate, automerge, cla: yes, context: none

#614 chore: moved retry into correct place
  samples/test/v3/translate_batch_translate_text_with_glossary.test.js
Labels: api: translate, cla: yes

#618 refactor(nodejs): move build cop to flakybot
  .kokoro/samples-test.sh
  .kokoro/system-test.sh
  .kokoro/test.sh
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: translate, automerge, cla: yes, context: full
