Repository googleapis/nodejs-translate, pull requests merged in 2021-03, with the labels that each got.

#625 build: update gapic-generator-typescript to v1.2.10.
  synth.metadata
  webpack.config.js
Labels: api: translate, automerge, cla: yes, context: full

#626 chore: Refactor translate samples
  samples/v3/translate_batch_translate_text.js
  samples/v3/translate_batch_translate_text_with_glossary.js
  samples/v3/translate_batch_translate_text_with_glossary_and_model.js
  samples/v3/translate_batch_translate_text_with_model.js
  samples/v3/translate_create_glossary.js
  samples/v3/translate_delete_glossary.js
  samples/v3/translate_detect_language.js
  samples/v3/translate_get_glossary.js
  samples/v3/translate_get_supported_languages.js
  samples/v3/translate_get_supported_languages_for_target.js
  samples/v3/translate_list_codes.js
  samples/v3/translate_list_glossary.js
  samples/v3/translate_list_language_names.js
  samples/v3/translate_translate_text.js
  samples/v3/translate_translate_text_with_glossary.js
  samples/v3/translate_translate_text_with_glossary_and_model.js
  samples/v3/translate_translate_text_with_model.js
Labels: api: translate, cla: yes, samples

#631 chore: renamed output dirs to prevent bucket access issue
  samples/test/v3/translate_batch_translate_text.test.js
  samples/test/v3/translate_batch_translate_text_with_glossary.test.js
  samples/test/v3/translate_batch_translate_text_with_glossary_and_model.test.js
Labels: api: translate, cla: yes

#634 chore: renamed output dir
  samples/test/v3/translate_batch_translate_text_with_model.test.js
Labels: api: translate, cla: yes
