Repository googleapis/nodejs-translate, pull requests merged in 2021-05, with the labels that each got.

#655 test: cleanup resources from tests
  samples/test/v3/translate_batch_translate_text.test.js
  samples/test/v3/translate_batch_translate_text_with_glossary_and_model.test.js
  samples/test/v3/translate_batch_translate_text_with_model.test.js
Labels: api: translate, automerge, cla: yes

#656 chore: fixed wrong bucket names in cleanup method
  samples/test/v3/translate_batch_translate_text.test.js
  samples/test/v3/translate_batch_translate_text_with_glossary_and_model.test.js
  samples/test/v3/translate_batch_translate_text_with_model.test.js
Labels: api: translate, automerge, cla: yes

#657 fix(deps): require google-gax v2.12.0
  package.json
Labels: api: translate, automerge, cla: yes

#665 chore: refactored all glossaries samples to use predefined glossary i…
  package.json
  samples/test/v3/translate_batch_translate_text_with_glossary.test.js
  samples/test/v3/translate_batch_translate_text_with_glossary_and_model.test.js
  samples/test/v3/translate_get_glossary.test.js
  samples/test/v3/translate_list_glossary.test.js
  samples/test/v3/translate_translate_text_with_glossary.test.js
  samples/test/v3/translate_translate_text_with_glossary_and_model.test.js
  samples/v3/translate_get_glossary.js
Labels: api: translate, automerge, cla: yes, samples

#674 docs: clarify how to choose between v3 and v2 variants of the API
  .readme-partials.yml
  samples/README.md
Labels: api: translate, cla: yes
